<h2>$title</h2>
<div>
    <a download="$!{imageBinaryFileTitle}" href="/dA/${ContentIdentifier}/$!{imageBinaryFileTitle}" title="$title">
        <img alt="$title" src="/dA/${ContentIdentifier}/125h">
    </a>
</div>
